@import "redmond/jquery-ui-1.10.3.custom.min.css";

#mse2_sort a.active, #mse2_tpl a.active {
	color: black;
	text-decoration:none;
	cursor: default;
}

#mse2_filters .disabled {
	color: #AAA;
}

#mse2_results {
	margin-bottom: 20px;
}

#mse2_filters .mse2_number_slider {
	font-size: .7em;
	margin-bottom: 10px;
}
#mse2_filters .mse2_number_inputs label {
	display: inline-block;
}
#mse2_filters .mse2_number_inputs label:last-child {
	margin-left: 20px;
}

#mse2_selected {
	display: none;
	margin: 10px 0;
}

.mSearchLog, .mFilterLog {
	width: 100%;
	overflow: auto;
	word-wrap: normal;
	white-space: pre;
}
